.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


.main {
  background-image: url('https://s3-alpha-sig.figma.com/img/a622/89c3/d9c07b8c46df5a9d9c3c4e3f8f21d1de?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Z2jqCCSODPSwKZCPogMDLWzhcp0J6A4qD4jBtTMSFoBaMicBvc6bcufIgs6ohnLDM6udqmH~xaGDQyVD4nExuHKK8tkz0w03R-fPByHbED2~GIJNgeN0z8QdTa6E4XJN113uhVBH7KaHzUiZOqILhs-pRYyMS~YPoiSNfMUJXTtPgKLhCAUkNPmHf7cJgfWrwSa8Yzwe4sZU-EOGxI04-LNPJPV-9IL6I~0-xmipCw2kbK0N90h9JDp1c0k0F4V~fDfDNmxF1BRQz8iRNzVhuVP3QC~uOjFw1lcNluzJwwhkPgjjb0evmLFbJ2WXt44539N4ASxySwkGy-XGmJefXA__'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Para cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.form ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.form li:not(:last-of-type) {
  margin-bottom: 8px;
}

.form code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

/* Carrosel de Persongens */
.selecionar button {
  font-family: Rammetto One;
  font-size: 13px;
  font-weight: 400;
  line-height: 42.22px;
  text-align: center;
  width: 16%;
  height: 56px;
  border-radius: 10px;
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
}

.selecionar button {
  font-family: Rammetto One;
  font-size: 13px;
  font-weight: 400;
  line-height: 42.22px;
  text-align: center;
  width: 16%;
  height: 56px;
  border-radius: 10px;
  border-color: transparent;
  color: #ffffff;
}

.selecionar button:hover {
  font-family: Rammetto One;
  font-size: 13px;
  font-weight: 400;
  line-height: 42.22px;
  text-align: center;
  width: 16%;
  height: 56px;
  border-radius: 10px;
  border-color: transparent;
  background-color: transparent;
  color: #000000;
  background-color: #ebcec1;
}

.selecionar button:active {
  font-family: Rammetto One;
  font-size: 13px;
  font-weight: 400;
  line-height: 42.22px;
  text-align: center;
  width: 16%;
  height: 56px;
  border-radius: 10px;
  border-color: transparent;
  background-color: transparent;
  color: #e76c07;
  background-color: transparent;
}

.icones {
  margin: 0 11%;
  width: 84%;
  height: 100%;
}

.icones h1{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 60px;
  text-align: left;
  color: #ffffff;
}

.icone button{
  border: #ffffff;
}



.slides h2{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  color: #ffffff;
}

.slides p{
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.96px;
  text-align: left;
  color: #ffffff;
}

.slideInicial {
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Espaço entre os itens */
  align-items: center; /* Alinha os itens verticalmente */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.slideInicial img{
  height: 250px;
}

.slideOculto {
  display: none; /* Ativa o Flexbox */
  justify-content: center; /* Espaço entre os itens */
  align-items: center; /* Alinha os itens verticalmente */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.slideOculto img{
  height: 250px;
}



.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}


@media (min-width: 2000px) {

  .slideInicial {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Espaço entre os itens */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 0 15%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }

  .slideOculto {
    display: none; /* Ativa o Flexbox */
    justify-content: center; /* Espaço entre os itens */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 0 15%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }


  .selecionar button {
    font-family: Rammetto One;
    font-size: 23px;
    font-weight: 400;
    line-height: 42.22px;
    text-align: center;
    width: 16%;
    height: 56px;
    border-radius: 10px;
    border-color: transparent;
    color: #ffffff;
  }

  .selecionar button:hover {
    font-family: Rammetto One;
    font-size: 23px;
    font-weight: 400;
    line-height: 42.22px;
    text-align: center;
    width: 16%;
    height: 56px;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    color: #000000;
    background-color: #ebcec1;
  }

  .selecionar button:active {
    font-family: Rammetto One;
    font-size: 23px;
    font-weight: 400;
    line-height: 42.22px;
    text-align: center;
    width: 16%;
    height: 56px;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    color: #e76c07;
    background-color: transparent;
  }

  .icones {
    margin: 0 15%;
    width: 70%;
    height: 100%;
  }


}


.footertext {
  display: inline;
  text-align: center;
}
.footerimagem {
  display: flexbox;
  text-align: center;
  padding: 10px;
}
.footerimagem2 {
  display: flexbox;
  text-align: right;
  margin-left: 94%;
  padding-bottom: 10px;
}
  .logo {
    filter: opacity(1);
  }
  .logofundo{
    filter: opacity(0);
  }
  .header {
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    font-size: 30px;
    align-items: center;
    position: relative;
    height: 100px;
    padding: 0 30px;
    color: #fff;
  }
  .nav{
  font-family: var(--font-geist-mono);
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.navlink{
  padding: 1rem;
}

/* parte responsável pela grade de posters e por fazer itens flutuarem */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Aumenta o tamanho mínimo dos pôsteres */
  gap: 20px; /* Aumenta o espaçamento entre os pôsteres */
  padding: 5%;
  margin-top: 120px;
  justify-items: center;
}

.poster {
  width: 100%;
  height: auto;
  max-width: 300px; /* Define um tamanho máximo para os pôsteres */
  border-radius: 20px;
  margin: 10% 20%;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra esbranquiçada */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.poster:hover {
  transform: translateY(-20px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); /* Sombra esbranquiçada */
}