.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


.main {
  background-image: url('https://s3-alpha-sig.figma.com/img/a622/89c3/d9c07b8c46df5a9d9c3c4e3f8f21d1de?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Z2jqCCSODPSwKZCPogMDLWzhcp0J6A4qD4jBtTMSFoBaMicBvc6bcufIgs6ohnLDM6udqmH~xaGDQyVD4nExuHKK8tkz0w03R-fPByHbED2~GIJNgeN0z8QdTa6E4XJN113uhVBH7KaHzUiZOqILhs-pRYyMS~YPoiSNfMUJXTtPgKLhCAUkNPmHf7cJgfWrwSa8Yzwe4sZU-EOGxI04-LNPJPV-9IL6I~0-xmipCw2kbK0N90h9JDp1c0k0F4V~fDfDNmxF1BRQz8iRNzVhuVP3QC~uOjFw1lcNluzJwwhkPgjjb0evmLFbJ2WXt44539N4ASxySwkGy-XGmJefXA__'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Para cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.form ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.form li:not(:last-of-type) {
  margin-bottom: 8px;
}

.form code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}


/* Carrosel de Persongens */
.icones {
  margin: 0 10%;
  width: 80%;
  height: 1000px;
  overflow: hidden;
}

.icones h1{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 60px;
  text-align: left;
  color: #ffffff;
}

.icone button{
  border: #ffffff;
}



.slides h2{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  color: #ffffff;
}

.slides p{
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.96px;
  text-align: left;
  color: #ffffff;
}

.slide {
  display: flex; /* Ativa o Flexbox */
  justify-content: space-between; /* Espaço entre os itens */
  align-items: center; /* Alinha os itens verticalmente */
  max-width: 800px; /* Largura máxima do contêiner */
  margin: auto; /* Centraliza o contêiner */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  
}

.slide img{
  height: 250px;
}



.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}



  .logo {
    filter: opacity(1);
  }
  .logofundo{
    filter: opacity(0);
  }
  .header {
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    font-size: 30px;
    align-items: center;
    position: relative;
    height: 100px;
    padding: 0 30px;
    color: #fff;
  }
  .nav{
  font-family: var(--font-geist-mono);
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.navlink{
  padding: 1rem;
}
